.dashboardUser{
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  background-color: black;
  color: black;
  height: auto;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  border-radius: 20px;
  text-align: center;
  animation-name: slidein;
  animation-duration: 2s;
}

.info{
  margin: auto;
  height: 80%;
  gap: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.firstLine{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: 30px;
}

.text1{
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: black;
}

.text1 h3{
  background-color: #6B0D0D;
  border-radius: 10px;
  padding: 12px;
  color: white;
  font-size: 20px;
  width:180px;
}

@media screen and (max-width: 460px){
  .text1 h3{
    font-size:16px;
    width: 140px;
  }
  .text1{
    width: 150px;
    gap: 10px;
    flex-direction: column;
  }
  .firstLine{
    gap: 20px;
  }
}

.userName{
  font-size: 16px;
}

.back{
  background-color : #6B0D0D;
  width: 80px;
  height: 40px;
  border-radius: 15px;
}

.back:hover{
  cursor: pointer;
}


.form{
  gap: 20px;
  display: flex;
  flex-direction: column;
  background-color: #6B0D0D;
  border-radius: 20px;
  padding: 16px;
  color: white;
  box-shadow: 0 0 20px  #FF0000;
}

.form input{
  border-radius: 10px;
  background-color: white;
  color: white;
  width: 400px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color:#000;
  padding: 16px;
  margin-top: 10px;
}

.reviewC{
  height: 200px;
}

.form button{
  background-color: black;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  transition: transform 0.5s;
  margin: auto;
}

.form button:hover{
  cursor: pointer;
  transform: Scale(1.2);
  transition: transform 0.5s;
}

.paymentBar{
  width: 600px;
  border-radius: 15px;
}


.addDancer input{
  width: 120px;
  height: 30px;
  border-radius: 10px;
}

.addDancer button{
  background-color: "#232323";
  width: 120px;
  height: 40px;
  border-radius: 30px;
  transition: transform 0.5s;
  margin: auto;
  background-color: #232323;
}

.addDancer button:hover{
  cursor: pointer;
}

.button{
  width: 120px;
  height: 40px;
  border-radius: 30px;
  transition: transform 0.5s;
  margin: auto;
  background-color: black;
}

.button:hover{
  cursor: pointer;
  transform: Scale(1.2);
  transition: transform 0.5s;
}

.paymentC{
  display: flex;
  flex-direction: column;
  width: 660px; 
  height:120px;
  border-radius: 16px;
}
.notPaymentC{
  display: none;
}
.paymentB{
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 380px; 
  height: 80px;
  border: 2px solid #6B0D0D;
  border-radius: 24px;
}


.greenBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 40px;
  color: white;
}
.blueBar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: blue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 40px;
  color: white;
}

.redBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:  red;
  color: white;
  height: 40px;
}

.grayBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color:gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 40px;
  color: white;
}

@media screen and (max-width: 460px){
  .paymentB{
    width: 300px;
    border-radius: 30px;
    height: 140px;
  }
  .greenBar {
    height: 60px;
  }
  .redBar {
    height: 60px;
  }
  .grayBar {
    height: 60px;
  }
}
.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
}

.select:hover {
  cursor:pointer;
}

.text{
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 12px;
  border: 2px solid #6B0D0D;
}

.danceCard {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  color: white;
  width: 300px;
  height: 145px;
  border-radius: 10px;
  border: 2px solid #6B0D0D;
  background-color:black;
  padding: 16px;
  margin-top: 10px;
}

.danceCardNoPay {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  color: white;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #6B0D0D;
  background-color:black;
  padding: 16px;
  margin-top: 10px;
}

@media screen and (max-width: 460px){
  .danceCard {
    width: 260px;
    height: 180px;
  }
  .danceCardNoPay {
    width: 260px;
  }
}

.leftCont {
  padding: 20px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #6B0D0D;
  border-radius: 26px;
  height:600px;
}


.leftCont h2{
  font-size: 50px;
  margin-bottom: 15px;
  color: white;
  font-family: Poppins;
  animation-duration: 1s;
  animation-name: slideup;
}

.leftCont span{
  margin-top: 8px;
  margin-bottom: 16px;
  width: 20%;
  height: 2px;
  background-color: #fff;
  display: flex;
}

.leftCont p{
  font-weight: bold;
  color: #fff;
}


.myForm{
  margin-top: 16px;
  padding:12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color:  #fff;
  height: 550px;
  width: 450px;
  animation-name: showSlow;
  animation-duration: 0.6s;
  border: 4px solid #232323;
  background-color: black;
  border-radius: 30px;
  box-shadow: 0 0 20px  #FF0000;
}




.myForm input{
  background-color: white;
  color: white;
  width: 400px;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color:#000;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.myForm label{
  color: #fff;
  font-size: 16px;
  width: 150px;
  height: 50px;
}



.myForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  height: 50px;
  font-size: 20px;
  padding: 16px 32px;
  color: white;
  background-color: #000;
  margin-top: 30px;
  border-radius: 42px;
  border: 2px solid white;
}

.myForm button:hover {
  cursor: pointer;
  background-color: black;
  border-radius: 20px;
}

@media screen and (max-width: 460px){
  .myForm{
    width: 280px;
    border-radius: 30px;
  }
  .leftCont {
    width: 300px;
  }
  .myForm input{
    width: 220px;
  }
  .myForm label{
    width: 220px;
  }
  .myForm button{
    width: 220px;
    font-size: 16px;
    height: 40px;
  }
  .form input{
    width: 220px;
    margin: auto;
  }
  .form{
    width: 300px;
  }
}


.myForm p{
  height: 0;
}

.contenedor{ 
  background-color:  #6B0D0D; 
  display: grid;
  place-content: center;
  height: 100vh;
  color: #000;
}
.cargando{ 
  position: relative; 
  color: #FFF;
  margin-top: 2em;
  letter-spacing: 0.08em;
  text-transform: uppercase
}

.rueda {
  border: 10px solid black;
  border-radius: 50%;
  border-left-color: transparent;
  width: 80px;
  height: 80px;
  animation: giro 1s linear infinite;
}

.none{
  display: none;
}

@keyframes giro {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.successMessage {
  background-color: green;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  border: 2px solid black;
}

.successMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  border: 2px solid black;
  animation-duration: 3s;
  animation-name: slideup;
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(-25%);
  }

  to{
    opacity:1;
    transform: translateY(0%);
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}


