.fatherCont{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 800px;
  background-color: transparent;
  gap: 50px;
  text-align: center;
  padding: 1.5rem;
}

.fatherCont h2{
  color : white;
  font-size: 60px;
}

.fatherCont h3{
  color: white;
  font-size: 20px;
  margin-top:12px;
  font-family: "New Times Roman";
}

@media screen and (max-width: 460px){
  .fatherCont h3{
    font-size: 22px;
  }
}

.fatherCont p{
  padding: 12px;
  width: 700px;
  border: 2px solid #6B0D0D;
  border-radius: 10px;
  background-color: #000;
}

@media screen and (max-width: 460px){
  .fatherCont p{
    width: 350px
  }
}

.reviews{
  width: 80%;
  height: 400px;
  background-color: transparent;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: flex-start;
  width: 450px;
  height: 280px;
  text-align: left;
  border: 2px solid #6B0D0D;
  border-radius: 10px;
  gap: 10px;
  background-color: black;
  margin-left: 10px;
}



.item h3{
  color: white;
  margin-left: 50px;
}

.item p{
  width: 250px;
  margin-left: 50px;
  border: none;
}

.tImage{
  width: 90px;
  height: 90px;
  position: relative;
  bottom: 40%;
  left: 75%;
  border-radius: 50%;
}

@media screen and (max-width: 460px){
  .tImage{
    width: 80px;
    height: 80px;
    position: relative;
    bottom: -10%;
    left: 70%;
  }
  .item{
    width: 320px;
    height: 350px;
  }
  .item p{
    width: 200px;
    margin-left: 10px;
  }
  .reviews{
    width: 95%;
    height: 400px;
    background-color: transparent;
  }
}

